<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width"/>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="container">
    @RenderSection("featured", false)
    @RenderBody()
</div>
<footer>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
            <div class="btn btn-success">开始代言</div><br/>
            &copy; @DateTime.Now.Year - My ASP.NET MVC Application
        </div>
    </div>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>